{block content}
	<ul class="list-unstyled">
		<li class="text-success">Vlastník</li>
		<li>Přemysl Himlar</li>
		<li>Mobil: +420 777 715 545</li>
		<li>Email: <a class="contact" href="mailto:himlar@hselektrostav.cz">himlar@hselektrostav.cz</a></li>
		<li>&nbsp;</li>
		<li class="text-success">Sídlo firmy</li>
		<li>Hávířov - Šumbark</li>
		<li>Lidická 1261/43c</li>
		<li>IČO: 285 83 108</li>
		<li>DIČ: CZ28583108</li>
	</ul>
