{block content}
<div class="center-block form-sm">
	<h1 n:block="title" class="text-center">Přihlášení</h1>
	{form signInForm}
		<div class="alert alert-danger" n:if="$form->ownErrors" n:foreach="$form->ownErrors as $error">{$error}</div>
		<div n:foreach="$form->controls as $input" class="form-group">
			{label $input /}
			{input $input} <span class=error n:ifcontent>{$input->error}</span>
		</div>
	{/form}
</div>
